html, body {
	font-family: 'Arial', sans-serif;
	background-color: #b6b6b6;
	margin: 20px;
	padding: 20px;
	text-align: center;
	cursor: url('../img/LOGO_cursor.png');
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	text-align: center;
	color: #fdfdfd;
}

h2 {
	font-family: 'Courier New', Courier;
	font-size: 1em;
	text-align: center;
	color: #797878;
}

form {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 8px;
	color: #555;
}

input[type="text"],
select,
input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #b6ab11;
	color: #1f1e1e;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #d4cfa1;
}