html, body {
	font-family: 'Arial', sans-serif;
	background-color: #b6b6b6;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	text-align: center;
	color: #fdfdfd;
}

form {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select,
input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #082135;
	color: #f0f0f0;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #b6b4b4;
	color: #082135;
}