h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	text-align: center;
	color: #fdfdfd;
}

html, body {
	font-family: 'Avenir';
	background-color: #b6b6b6;
	margin: 20px;
	padding: 20px;
	text-align: left;
	cursor: url('../img/LOGO_cursor.png');
}

.file_icon {
    background: url('../img/image.png');
    height: 16px;
    width: 16px;
    display: inline-block;
}

.folder_icon {
    background: url('../img/folder.png');
    height: 16px;
    width: 16px;
    display: inline-block;
}

.up_icon {
    background: url('../img/up.png');
    height: 16px;
    width: 16px;
    display: inline-block;
}

