
h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2em;
	text-align: center;
	color: #fdfdfd;
}

h2 {
	font-family: 'Courier New', Courier;
	font-size: 1em;
	text-align: center;
	color: #fdfdfd;
}

html, body {
	font-family: 'Avenir';
	background-color: #b6b6b6;
	margin: 20px;
	padding: 20px;
	text-align: center;
	cursor: url('../img/cursor.png'), auto;
}

a {
	display: inline-block;
	padding: 7px 30px;
	background-color: #fdfdfd;
	color: #000000;
	text-decoration: none;
	border-radius: 7px;
	transition: background-color 0.3s;
}

a:hover {
	background-color: #8b8686;
}

footer {
	font-family: 'Courier New', Courier, monospace;
	margin: 20px;
	padding: 20px;
	color: #fdfdfd;
}